<!DOCTYPE html>
<head>
<title>Streaming</title>
<script type="text/javascript">

var id = <%- JSON.stringify(id) %>;
var address = <%- JSON.stringify(address) %>;
var port = <%- JSON.stringify(port) %>;

var stream = [];



var videoCount = 0;
var firstMessage = true;

var streaming = new WebSocket('ws://' + address + ':' + port);

streaming.onopen = function(){
	streaming.send(id);
}
console.log("Ready to go!");
function parseChunk(name){
	return name.replace(id + "_", "").replace(".mov", "");
}

streaming.onmessage = function(e){
	if (firstMessage){
		console.log("Making bucket sort");
		console.log(e.data);
		var count = parseInt(e.data);
		for(var i=0; i<count + 1; i++){
			stream.push("None");
		}
		console.log("Bucket sort complete");
		firstMessage = false;
	}else{
		var video_id = parseChunk(e.data);
		stream[video_id] = e.data;
		nextVideo(); //call this no matter what
	}
}



function nextVideo(){
	videoPlayer = document.getElementById("myVideo");
	if(videoPlayer.currentTime < videoPlayer.duration)
		return;
	if(stream[videoCount] != "None" && videoCount < stream.length){
		console.log("Playing video " + stream[videoCount]);
		var source = document.createElement('source');
		videoPlayer.setAttribute('src',stream[videoCount]);
		videoPlayer.load();
		videoPlayer.play();
		videoCount++;
	}
	
}

setTimeout(nextVideo, 100);



</script>
</head>
</head>
<body>
  <video id="myVideo" align="center" height="400" width="600" autoplay onended="nextVideo();">   
        <source id="ss"  src="" type='video/mp4'>
    </video>
</body>
</html>
